.issue-wrapper {
  font-family: 'Open Sans';
  font-weight: 300;
  color: black;
}

.title {
  margin-bottom: 5px;
  font-size: 30px;

  .issue-number {
    color: #AAAAAA;
  }
}

.status {
  color: white;
  margin-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 400;
  border-radius: 3px;

  &.open {
    background-color: #6cc644
  }
}

.issue-user-login {
  font-size: 14px;
  font-weight: 600;
}

.comments-wrapper {
  margin-top: 40px;
}

.comments-wrapper img {
  display: inline-block;
  height: 48px;
}

.issue-meat {
  display: inline-block;
  margin-left: 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  vertical-align: top;
}

.issue-meat-meta {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: #767676;
  background-color: #F7F7F7;
}

.issue-meat-body {
  padding: 15px;
}
