// used in Table and Issue view
.label {
  margin-left: 8px;
  padding: 3px 4px;
  font-weight: 600;
  font-size: 12px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  color: #321d22;
  border-radius: 2px;
}
