html,
body,
div,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
/*
   Apply a natural box layout model to all elements, but allowing components to change
   Works on IE8 and above
 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'Open Sans';
  font-weight: 300;
}

body {
  width: 960px;
  margin: 0 auto;
  padding: 30px;
}

// used in Table and Issue view
.label {
  margin-left: 8px;
  padding: 3px 4px;
  font-weight: 600;
  font-size: 12px;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);
  color: #321d22;
  border-radius: 2px;
}
