@mixin link() {
  color: black;
  text-decoration: none;
}

a {
  &:link {@include link()}
  &:visited {@include link()}
  &:hover {
    color: #8EB8EB;
    text-decoration: none;
  }
  &:active {@include link()}
}

.data-row {
  margin-bottom: 45px;
}

.avatar-wrapper {
  display: inline-block;

  img {
    width: 150px;
    border-radius: 3px;
  }
}

.meat {
  display: inline-block;
  width: 700px;
  margin-left: 45px;
  vertical-align: top;

  .title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .tweet {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 300;
  }
  .meta {
    font-size: 16px;
    font-weight: 300;
    color: #7F7F7F;
  }
}
